html, body {
    height: 100%;
}

body {
    padding-top: 55px;
    display: flex;
    text-align: center;
    flex-direction: column;
}

main {
    margin: auto;
    padding: 25px;
    flex: 1 0 auto;
    max-width: 750px;
    width: 100%;
}

/*footer*/

.copyright {
    margin: 15px 0;
}

/*home page*/

.intro {
    transform: translateY(22vh);
}

.intro > h1 {
    color: #212121;
    font-size: 12vh;
}

.intro > h2 {
    color: #757575;
    font-size: 3vmin;
}

.intro > .profile {
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
}

/*apply accent colour to links*/

a:link, a:visited {
    color: var(--accent);
}

a.icon:hover {
    text-decoration: none;
}

a:hover {
    color: var(--accent) !important;
}

/*paginator at bottom of list view*/

.pages {
    padding: 15px 0;
}

.pages-icon {
    padding: 0 15px;
}

/*list item for posts and projects*/

.item {
    padding: 10px 0;
}

.item-tag {
    background-color: var(--accent);
}

/*navigation bar icons*/

.navbar-icon {
    font-size: 125%;
    display: inline-block !important;
}

/*coloured borders at top and bottom of the page*/

.navbar.navbar-default {
    border-top: var(--border-width) solid var(--accent);
}

footer {
    border-bottom: var(--border-width) solid var(--accent);
}

img {
    max-width: 100%;
}

/* Cover */
.cover {
  margin: 25px auto;
  width: 60%;
}

/* Fonts */
.single-post h1, .single-post h2, .single-post h3, .single-post h4, .single-post h5, .single-post p {
  transition: opacity 0.5s ease-in;
  opacity: 0;
}

.wf-active .single-post h1,
.wf-active .single-post h2,
.wf-active .single-post h3,
.wf-active .single-post h4,
.wf-active .single-post h5,
.wf-active .single-post p {
  opacity: 1;
}

.single-post .text-justify {
  font-size: 1.8rem;
  line-height: 3rem;
  color: rgb(20, 20, 20);
  text-align: left;
}

.text-justify h1 {
  font-size: 3.2rem;
  border-left: solid 10px #fa1e44;
  border-bottom: solid 6px #fa1e44;
  margin: 25px 0px;
  padding: 15px;
  font-weight: bold;
}

.text-justify h2 {
  font-size: 2.8rem;
  border-left: solid 8px #fa1e44;
  margin: 25px 0px;
  padding: 15px;
  font-weight: bold;
}

.text-justify h3 {
  font-size: 2.4rem;
  border-left: solid 4px #fa1e44;
  margin: 15px 0px;
  padding: 10px 15px;
  font-weight: bold;
}

.text-justify h3 {
  font-size: 2.2rem;
  margin: 15px 0px;
  padding: 10px 15px;
  font-weight: bold;
}

.text-justify a {
  color: #47a280;
}

.text-justify pre {
  padding: 0;
}


.single-post .post-title {
  font-size: 4rem;
  font-weight: bold;
  padding: 15px 0;
}

/* Pagination */
.tbd-pagination {
  margin: 15px 0;
}

.tbd-pagination i {
  font-weight: bolder;
  font-size: 2rem;
}

.pages i {
  font-weight: bolder;
  font-size: 2rem;
}

/* Share Buttons */
.share-buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: right;
  align-items: center;
}

.share-buttons .share-button {
  margin: 0 0.5rem;
}

/* Table */
.text-justify table {
  border: 0;
  border-spacing: 0;
  border-collapse: collapse;
}

.text-justify tbody tr:hover td {
  color: #009;
}

.text-justify th {
  color: #039;
  padding: 10px 8px;
  border-bottom: 2px solid #6678b1;
  text-align: center;
}

.text-justify td {
  border-bottom: 1px solid #ccc;
  color: #669;
  padding: 6px 8px;
  text-align: center;
}

/* Tags */
.tag-cloud a {
  margin: 0 0.1rem;
}

.item-tag {
  margin: 0 0.1rem;
}

/* TOC */
#TableOfContents ul {
  color: #47a280;
  padding: 0.5em 0 0.5em 1.5em;
  text-align: left;
}

#TableOfContents ul li {
  line-height: 1.5;
  padding: 0.5em 0;
}

#TableOfContents ul li a {
  color: #47a280;
}

/* About Me */
.about-me img {
  border-radius: 50%;
  border: 3px solid #eee;
}

.my-profile {
  font-size: 2rem;
}

/* code */
.text-justify .highlight {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
.text-justify .highlight pre {
  width: 100%;
  padding: 0.8rem;
}

.text-justify code {
  word-wrap: break-word;
}

/* navigation bar icons */
.navbar-header {
  display: flex;
  align-items: flex-start;
}

.navbar-brand {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
