 <!-- Intentionally left empty. Override this partial in your website to insert code just after the
      opening <head> tag. For example, to install Google Tag Manager. -->

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-6244473643910448",
    enable_page_level_ads: true
  });
</script>

<meta name="google-site-verification" content="9qs7VjxtSrYMqw5OElxCdKv_gnssSRi6acB2iYlZnGA" />
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:site_name" content="{{ .Site.Title }}">
<meta name="twitter:card" content="summary"></meta>
<link rel="canonical" href="{{ .Permalink }}">

{{ if eq .RelPermalink "/" }}

  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ .Site.Title }}">
  <title>{{ .Site.Title }}</title>
  <meta property="og:description" content="{{ .Site.Params.Description }}">
  <meta name="description" content="{{ .Site.Params.Description }}">
  <meta property="og:image" content="{{ .Site.BaseURL }}/images/title.png">

{{ else if eq .RelPermalink "/post/" }}

  <meta property="og:type" content="website">
  <meta property="og:title" content="[{{ .Site.Title }} ~]$ find {{ .Paginator.URL }}">
  <title>[{{ .Site.Title }} ~]$ find {{ .Paginator.URL }}</title>
  <meta property="og:description" content="{{ .Site.Params.Description }}">
  <meta name="description" content="{{ .Site.Params.Description }}">
  <meta property="og:image" content="{{ .Site.BaseURL }}/images/title.png">

{{ else if in .RelPermalink "/tags/" }}

  <meta property="og:type" content="website">
  <meta property="og:title" content="[{{ .Site.Title }} ~]$ find {{ .RelPermalink }}">
  <title>[{{ .Site.Title }} ~]$ find {{ .RelPermalink }}</title>
  <meta property="og:description" content="{{ .Site.Params.Description }}">
  <meta name="description" content="{{ .Site.Params.Description }}">
  <meta property="og:image" content="{{ .Site.BaseURL }}/images/title.png">

{{ else }}

  <meta property="og:type" content="article">
  <meta property="og:title" content="[{{ .Site.Title }} ~]$ cat /post/&quot;{{ .Title }}&quot;">
  <title>[{{ .Site.Title }} ~]$ cat /post/&quot;{{ .Title }}&quot;</title>
  <meta property="og:description" content="{{ .Summary }}">
  <meta property="og:image" content="{{ .Site.BaseURL }}/images/{{ .Params.cover }}">

{{ end }}
