<!-- highlight.js -->
{{ if .Site.Params.highlight | default false }}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>

    {{ range .Params.highlightLanguages }} <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/{{ . }}.min.js"></script> {{ end }}

    <script>hljs.initHighlightingOnLoad();</script>

{{ end }}

<!-- custom -->
{{ range .Site.Params.js }} <script src="{{ . | absURL }}"></script> {{ end }}

<!-- jquery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- bootstrap -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<!-- chart -->
{{ if isset .Params "chart" }}
<script src="{{ .Site.BaseURL }}/js/Chart.bundle.min.js"></script>
<script src="{{ .Site.BaseURL }}/js/{{ .Params.chart }}"></script>
{{ end }}

<!-- slider -->
{{ if isset .Params "slide" }}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
<script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>

<script>
  $(document).ready(function(){
    $('.bxslider').bxSlider({
      speed: 500,
      mode: 'fade',
      infiniteLoop: false,
      hideControlOnEnd: true,
      preloadImages: 'all'
    });
  });
</script>
{{ end }}

<!-- dismiss expanded navigation bar with click -->
<script>$(document).on('click', function() { $('.collapse').collapse('hide'); })</script>
